/* importing google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 59px;
    color: #31A5AC;
}

input {
    background: #DCDCDC;
    border-radius: 2px;
    border: none;
    width: 229px;
    height: 44px;
    padding-left: 15px;
}

.Income_Title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.column_property {
    padding: 50px 0px 30px 0px;
    background: #F8F8F8;
    box-shadow: -11px 11px 22px #aaaaaa, 11px -11px 22px #ffffff;
}

.cost_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    width: 25%;
    margin-right: 3%;
    text-align: right;
    font-size: 18px;
    line-height: 21px;
}


/* button */

.aqua_button {
    background: #59A5FF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


/* for custom error message */

.message {
    color: red;
    font-size: 1.5rem;
    margin-top: 11px;
}